* {
	padding: 0px;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}

.contenedor{
	background-color: #e2e2e2;
	width: fit-content;
	margin: auto;
}

.numeros {
	padding: 22px 8px 16px 37px;;
}

.operaciones {
    padding: 19px 24px 22px 16px;  
}

.teclas{
    display: flex;
    flex-direction: inherit; 
}

.pantalla {
	padding: 18px 18px 0px 18px;
}

#resultado {
	background-color: rgb(187, 187, 187);
	color: #eee;
    font-family: monospace;
    font-size: 20px;
    padding: 20px;
}

.operaciones button {
	display: block;
	width: 54px;
	height: 54px;
	padding: 9px 15px;
	background-color: #000;
	color: rgb(51, 205, 243);
	border: none;
}

.numeros div{
    text-align: center;
}

.numeros button {
	border: 0px;
	background-color: rgb(178, 200, 228);
	transition: all 0.09s;
}

.numeros button:hover {
	box-shadow: 0px 0px 12px #aaa;
}

button {
	margin: 2px 0px;
	padding: 15px 24px;
	font-size: 19px;
}
.igual {
	padding: 0px 18px 18px 18px;
}

.igual button {
	width: 100%;
	background-color: #000;
	color: rgb(43, 224, 215);
	border: none;
	font-size: 50px;
	padding: 0px;
}
.operaciones2 div{
    text-align: center;
}
.operaciones2 button{
	width: 86px;
    height: 61px;
    padding: 10px 15px;
	background-color: #000;
	color: rgb(51, 205, 243);
	border: none;
}

.numeros div{
    text-align: center;
}

.numeros button {
	border: 0px;
	background-color: rgb(178, 200, 228);
	transition: all 0.09s;
}

.numeros button:hover {
	box-shadow: 0px 0px 12px #aaa;
}

button {
	margin: 2px 0px;
	padding: 15px 24px;
	font-size: 19px;
}
.igual {
	padding: 10px 18px 18px 18px;
}

.igual button {
	width: 100%;
	background-color: #000;
	color: rgb(43, 224, 215);
	border: none;
	font-size: 50px;
	padding: 0px;
}
.titulo{
		height: 75px;
		width: 100%;
		line-height: 75px;
		text-align: center;
   }